{% extends "index.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}
    <table action="/browse" id="browse" method="post">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publishing Year</th>
            <th>Edition</th>
            <th>No. of Copies</th> 
            <th>Genre</th>
            <th>Topics</th>
            <th>Status</th>
        </tr>
        {% for book in books %}   
            <tr>
                <td>{{ book["title"] }}</td>
                <td>{{ book["authorfirstname"] }}{{ book["authorlastname"] }}</td>                
                <td>{{ book["year"] }}</td>
                <td>{{ book["edition"] }}</td>
                <td>{{ book["copies"] }}</td>
                <td>{{ book["genre"] }}</td>
                <td>
                    <ul>
                        <li>{{ book["topicA"] }}</li>
                        <li>{{ book["topicB"] }}</li>
                        <li>{{ book["topicC"] }}</li>
                    </ul>
                </td>
            </tr>
        {% end for %}
    </table>
{% endblock %}