{% extends "template.html" %}
    
{% block main %}
            
    <div style="overflow-x:auto;">
         <table>
            <tr>
                <th>Title</th>
                <th>Author ID</th>
                <th>Year</th>
                <th>Edition</th>
            </tr>
            {% for row in latest %}
                <tr>
                    <td>{{ row["title"] }}</td>
                    <td>{{ row["author"] }}</td>
                    <td>{{ row["year"] }}</td>
                    <td>{{ row["edition"] }}</td>
                </tr>
            {% end for %}
        </table>
    </div>
            
{% endblock %}

